{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quanton Private Limited</title>
    <link rel="stylesheet" href="{% static 'css/layout1.css' %}">
    <link rel="icon" href="{% static 'img/titleicon.png' %}" type="image/x-icon">

</head>

<body>
    <div class="container">
        <div class="banner">
            <b> QUANTON PRIVATE LIMITED</b>
        </div>
        <div class="menu">
            <div class="menuitem"><a href="/home1">Home</a></div>
            <div class="menuitem"><a href="/products1">Products</a></div>
            <div class="menuitem"><a href="/people1">People</a></div>
            <div class="menuitem"><a href="/contact1">Contact Us</a></div>
        </div>
        <div class="content">
            {% block content %}
            {% endblock  %}
        </div>
        <div class="footer">
            Copyright © 2020 Quanton Private Limited, Developed by Harshini.
        </div>
    </div>
</body>

</html>