{% extends "companywebsite/base.html" %}

{% block content %}
<h1>Reach Us</h1>
<ul>
    <li><b>Call Us :</b> +91 9832466007</li>
    <li><b>E-mail Us :</b> quanton@company.com</li>
    <li><b>Address :</b><br>

        <br>
        <ul style="list-style-type:square;">
            <li>
                <u>London Office :</u> <br>
                10 Downing Street<br>
                London<br>
                SW1A 2AA<br>
            </li>

            
            <li><u>California Office :</u><br>
                731 East Oxford Street<br>
                Chino<br>
                CA 91710
            </li>
        </ul>
    </li>
</ul>
{% endblock  %}